[submodule "vendor/libarchive"]
	path = vendor/libarchive
	url = ../../libarchive/libarchive.git
[submodule "vendor/libfs"]
	path = vendor/libfs
	url = ../../holepunchto/libfs.git
[submodule "vendor/libpath"]
	path = vendor/libpath
	url = ../../holepunchto/libpath.git
[submodule "vendor/libuv"]
	path = vendor/libuv
	url = ../../libuv/libuv.git
[submodule "vendor/liblog"]
	path = vendor/liblog
	url = ../../holepunchto/liblog.git
[submodule "vendor/libhex"]
	path = vendor/libhex
	url = ../../holepunchto/libhex.git
[submodule "vendor/libz32"]
	path = vendor/libz32
	url = ../../holepunchto/libz32.git
[submodule "vendor/libcompact"]
	path = vendor/libcompact
	url = ../../holepunchto/libcompact.git
[submodule "vendor/libfx"]
	path = vendor/libfx
	url = ../../holepunchto/libfx.git
