[submodule "vendor/libfs"]
	path = vendor/libfs
	url = ../../holepunchto/libfs.git
[submodule "vendor/libpath"]
	path = vendor/libpath
	url = ../../holepunchto/libpath.git
[submodule "vendor/libuv"]
	path = vendor/libuv
	url = ../../libuv/libuv.git
[submodule "vendor/liblog"]
	path = vendor/liblog
	url = ../../holepunchto/liblog.git
[submodule "vendor/libhex"]
	path = vendor/libhex
	url = ../../holepunchto/libhex.git
[submodule "vendor/libcompact"]
	path = vendor/libcompact
	url = ../../holepunchto/libcompact.git
[submodule "vendor/bare"]
	path = vendor/bare
	url = git@github.com:holepunchto/bare.git
