[submodule "vendor/libarchive"]
	path = vendor/libarchive
	url = git@github.com:libarchive/libarchive.git
[submodule "vendor/libfs"]
	path = vendor/libfs
	url = git@github.com:holepunchto/libfs.git
[submodule "vendor/libpath"]
	path = vendor/libpath
	url = git@github.com:holepunchto/libpath.git
[submodule "vendor/libuv"]
	path = vendor/libuv
	url = git@github.com:libuv/libuv.git
[submodule "vendor/liblog"]
	path = vendor/liblog
	url = git@github.com:holepunchto/liblog.git
